.icon {
  width:15px;
  height:15px;
  margin-left: 10px;
}

.newTaskMessageForm {
display:flex;
justify-content: space-around;
border: solid 2px black;
border-radius: 25px;
background-color: lightyellow;
width: 350px;
}

.newTaskMessageParagraph {
font-size: 15px;
font-weight: bold;
font-style: italic;
color: lightcoral;
margin-left: 10px;
margin-top: -5px;
margin-bottom: -1px;
padding: 5px;
}

.newTaskMessageButton {
color: red;
height: 20px;
width: 20px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.taskContainer {
  display: flex;
  background-color: lavender;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5%;
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px
}

.taskHeader {
  text-align: center;
}

.task {
  list-style-type: none;
  padding-top: 8px;
  /* margin: 5px; */
}

.listP {
  padding: 5px;
  color: #666666;
}

.checkboi {
  margin: 5px;
}
