.checked {
  background-color:green;
  width:15px;
  height:15px;
}

.unchecked {
  width:15px;
  height:15px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.taskContainer {
  display: flex;
  background-color: lavender;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5%;
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px
}

.taskHeader {
  text-align: center;
}
  
.task {
  list-style-type: none;
  padding-top: 8px;
  /* margin: 5px; */
}

.listP {
  padding: 5px;
  color: #666666;
}

.checkboi {
  margin: 5px;
}

