.checked {
   width:15px;
  height:15px;
  /* background-image: url("https://cdn0.iconfinder.com/data/icons/basic-ui-elements-colored/700/010_x-3-512.png"); */
  /* background-repeat: no-repeat;
  background-size: 30px;
  background-position: right top;
  margin-right:10px; */
}

.unchecked {
  width:15px;
  height:15px;
  /* background-image: url("http://icons.iconarchive.com/icons/blackvariant/button-ui-requests-1/1024/Acorn-icon.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right top;
  margin-right:0px; */
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.taskContainer {
  display: flex;
  background-color: lavender;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 5%;
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px
}

.taskHeader {
  text-align: center;
}

.task {
  list-style-type: none;
  padding-top: 8px;
  /* margin: 5px; */
}

.listP {
  padding: 5px;
  color: #666666;
}

.checkboi {
  margin: 5px;
}
